/* ************************************************** !!
/* CSS CONTENTS ----------------------------------------
--------------------------------------------------------
--| General
--| Navbar
--| Search Form
--| [SECTION] Above the Fold 
--| [SECTION] Features
--| [SECTION][RESULTS PAGE] Result
--| [SECTION][RESULTS PAGE] Search Again
--| Footer
--------------------------------------------------------
----------------------------------------------------- */

/* ************************************************************
***************************************************************
--- General ---
***************************************************************
************************************************************ */

body {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 18px;
}

h1 {
  font-size: 52px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3,
h5 {
  font-size: 22px;
}

h4 {
  font-size: 32px;
}

h3,
h4,
h5 {
  font-weight: bold;
  color: #004A80;
}

section {
  padding: 40px 0 52px;
}

.text-primary {
  color: #004A80 !important;
}

.text-secondary {
  color: #4A4A4A !important;
}

@media (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2,
  h3,
  h5 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 16px;
  }
}

/* ************************************************************
***************************************************************
--- Navbar ---
***************************************************************
************************************************************ */

.navbar {
  background: #004A80;
}

.navbar {
  padding: 20px 16px;
}

/* ************************************************************
***************************************************************
--- Search Form ---
***************************************************************
************************************************************ */

.btn-form-submit {
  display: inline;
  max-width: 992px;
  font-size: 24px;
  font-weight: bold;
  color: #004A80;
  background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  border-radius: 6px;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  width: 180px;
  height: 70px;
  margin-left: 20px;
}

.btn-form-submit:hover {
  background: #F2DA56;
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  border-radius: 6px;

}

.btn-form-submit:active {
  background: #F6BC25;
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  border-radius: 6px;
}

.input-group.error>.form-email {
  border: 3px solid #DC0015;
  border-radius: 3px 3px 0 0 !important;
}

.input-group.error>.form-phone {
  border: 3px solid #DC0015;
  border-radius: 3px 3px 0 0 !important;
}

.input-group>.form-email {
  width: 80%;
  height: 70px;
  background: #FFF;
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
  border-radius: 3px !important;
  font-size: 22px;
}

.input-group>.form-phone {
  width: 80%;
  height: 70px;
  background: #FFF;
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
  border-radius: 3px !important;
  font-size: 22px;
}

.errorEmail {
  display: none;
}

.errorPhone {
  display: none;
}

.input-group.error .errorEmail {
  display: block;
  position: absolute;
  bottom: -30px;
  margin: 0px;
  padding: 4px 12px;
  background: #DC0015;
  color: #FFF;
  border-radius: 0 0 3px 3px;
  font-size: 16px;
}

.input-group.error .errorPhone {
  display: none;
  position: absolute;
  bottom: -30px;
  margin: 0px;
  padding: 4px 12px;
  background: #DC0015;
  color: #FFF;
  border-radius: 0 0 3px 3px;
  font-size: 16px;
}

.form-email::placeholder {
  width: 100%;
  color: #9B9B9B;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-phone::placeholder {
  color: #9B9B9B;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-subtext {
  display: inline;
  font-size: 16px;
  color: #FFF;
  margin-right: 45px;
  line-height: normal;
}

.lock {
  display: inline;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 15px;
}




@media (max-width: 767px) {
  .input-group {
    flex-direction: column;
  }

  .input-group>.form-email,
  .btn-form-submit {
    width: 100%;
  }

  .input-group>.form-email {
    height: 50px;
  }

  .input-group>.form-phone,
  .btn-form-submit {
    width: 100%;
  }

  .input-group>.form-phone {
    height: 50px;
  }

  .btn-form-submit {
    margin: 15px 0 0 0;


  }

  .input-group.error .errorEmail {
    display: block;
    position: relative;
    bottom: 5px;
    width: 100%;
    padding: 4px 12px;
    background: #DC0015;
    color: #FFF;
    border-radius: 0 0 3px 3px;
    font-size: 14px;
  }

  .input-group.error .errorPhone {
    display: none;
    position: relative;
    bottom: 5px;
    width: 100%;
    padding: 4px 12px;
    background: #DC0015;
    color: #FFF;
    border-radius: 0 0 3px 3px;
    font-size: 14px;
  }

  .btn-form-submit:active {
    background: #F6BC25;
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
  }
}



@media only screen and (min-width: 768px) and (max-width: 1200px) {

  .btn-form-submit {
    display: inline;
    max-width: 992px;
    font-size: 24px;
    font-weight: bold;
    color: #004A80;
    background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    width: 180px;
    height: 70px;
    margin-left: 20px;
  }

  .btn-form-submit:hover {
    background: #F2DA56;
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;

  }

  .btn-form-submit:active {
    background: #F6BC25;
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
  }

  .input-group.error>.form-email {
    border: 3px solid #DC0015;
    border-radius: 3px 3px 0 0 !important;
  }

  .input-group.error>.form-phone {
    border: 3px solid #DC0015;
    border-radius: 3px 3px 0 0 !important;
  }

  .input-group>.form-email {
    width: 71%;
    height: 70px;
    background: #FFF;
    box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 3px !important;
    font-size: 22px;
  }

  .input-group>.form-phone {
    width: 71%;
    height: 70px;
    background: #FFF;
    box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 3px !important;
    font-size: 22px;
  }

  .errorEmail {
    display: none;
  }

  .errorPhone {
    display: none;
  }

  .input-group.error .errorEmail {
    display: block;
    position: absolute;
    bottom: -30px;
    margin: 0px;
    padding: 4px 12px;
    background: #DC0015;
    color: #FFF;
    border-radius: 0 0 3px 3px;
    font-size: 16px;
  }

  .input-group.error .errorPhone {
    display: none;
    position: absolute;
    bottom: -30px;
    margin: 0px;
    padding: 4px 12px;
    background: #DC0015;
    color: #FFF;
    border-radius: 0 0 3px 3px;
    font-size: 16px;
  }

  .form-email::placeholder {
    width: 100%;
    color: #9B9B9B;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .form-phone::placeholder {
    color: #9B9B9B;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .form-subtext {
    display: inline;
    font-size: 16px;
    color: #FFF;
    margin-right: 45px;
    line-height: normal;
  }

  .lock {
    display: inline;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 15px;
  }


}



/* ************************************************************
***************************************************************
--- [SECTION] Loader ---
***************************************************************
************************************************************ */


.load {
  background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
  padding-top: 0%;
  padding-bottom: 0%;
}


#loader {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  display: block;
  margin: 0px auto;
  margin-top: 343px;
  margin-bottom: 399px;
  width: 154px;
  height: 154px;
}


#loaderText {
  position: relative;
  text-align: center;
  font-family: Lato-Bold;
  font-size: 24px;
  width: 980px;
  height: 29px;
  color: #004A80;
  letter-spacing: 0;
  text-align: center;
  font-weight: 700;
}

#loaderFoot {
  position: relative;
  padding: 16px 0;
  background: #FFFFFF;
  top: 92%;
  width: 100%;
}

#loaderFoot p {
  box-align: center;
  font-size: 15px;
  color: #999;
  line-height: 20px;
  top: 100%;
}

#loaderFoot a {
  font-size: 14px;
  font-weight: bold;
  color: #004A80;
}

#loaderFoot a:first-of-type:after {
  content: '|';
  padding-left: 5px;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

#myDiv {
  display: none;
  text-align: center;
}


/* ************************************************************
***************************************************************
--- [SECTION] Above the Fold ---
***************************************************************
************************************************************ */

.above-the-fold {
  background: #004A80;
  padding-top: 24px;
}

.above-the-fold .headline {
  max-width: 780px;
  margin: 0 auto;
}

.select {
  float: left;
  margin-right: 20px;
  text-align: left;
  display: inline;

}

.select>.text {
  font-family: Lato;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 400;

}

.buttons {
  margin-bottom: 20px;
  float: left;
  text-align: center;
  display: inline;

}

.buttons>.btn-email {
  height: 35px;
  width: 148px;
  padding: 0px;
  border: 3px solid #F6BC25;
  background-color: #004A80;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 6px;
  font-family: Lato;
  font-size: 16px;
  color: #F6BC25;
  letter-spacing: 0;
  font-weight: 700;
}

.buttons>.btn-email:hover {
  font-family: Lato-Bold;
  font-size: 16px;
  border-radius: 6px 6px 6px 0 0 0 6px;
  background-color: #F6BC25;
  color: #004A80;
  letter-spacing: 0;
  font-weight: 700;
}

.buttons>.btn-phone {
  display: inline-block;
  height: 35px;
  width: 148px;
  padding: 0px;
  border: 3px solid #F6BC25;
  background-color: #004A80;
  border-radius: 6px;
  font-family: Lato;
  font-size: 16px;
  color: #F6BC25;
  letter-spacing: 0;
  font-weight: 700;
}

.buttons>.btn-phone:hover {
  font-family: Lato-Bold;
  font-size: 16px;
  background-color: #F6BC25;
  color: #004A80;
  letter-spacing: 0;
  font-weight: 700;
}


/* ************************************************************
***************************************************************2125561235
--- [SECTION] Features Desktop ---
***************************************************************
************************************************************ */

.features {
  background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
}

.features .headline {
  margin-bottom: 40px;
}

.features h2 {
  line-height: 30px;
}

.list-item {
  margin-bottom: 28px;
}

.list-circle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  line-height: 90px;
  background: #004A80;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #F6BC25;
  flex: 0 0 90px;
  margin-right: 20px;
}

.list-text p {
  margin: 0;
  line-height: 26px;
}

@media(min-width: 767px) {
  .featuresMobile {
    display: none;
  }

  .features .headline {
    margin-bottom: 28px;
  }

  .features h2 {
    line-height: 28px;
  }

  .list-item {
    margin-bottom: 20px;
  }

  .list-circle {
    width: 63px;
    height: 63px;
    line-height: 63px;
    flex: 0 0 63px;
    font-size: 33.6px;
  }

  .list-text p {
    line-height: 24px;
  }
}

@media(min-width: 767px) {

  .featuresMobile {
    display: none;
  }

  .features .headline {
    margin-bottom: 20px;
  }

  .list-item {
    margin-bottom: 16px;
  }

  .list-circle {
    width: 50.4px;
    height: 50.4px;
    line-height: 50.4px;
    flex: 0 0 50.4px;
    font-size: 26.88px;
    margin-right: 10.6px;
  }
}



/* ************************************************************
***************************************************************
--- [SECTION] Features Mobile ---
***************************************************************
************************************************************ */

.featuresMobile {
  background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
}

.featuresMobile .headline {
  margin-bottom: 40px;
}

.featuresMobile h2 {
  line-height: 30px;
}

.list-item {
  margin-bottom: 28px;
}

.list-circle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  line-height: 90px;
  background: #004A80;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #F6BC25;
  flex: 0 0 90px;
  margin-right: 20px;
}

.list-text p {
  margin: 0;
  line-height: 26px;
}



@media(max-width: 767px) {
  .features {
    display: none;
  }

  .featuresMobile {
    background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
  }

  .featuresMobile .headline {
    margin-bottom: 40px;
  }

  .featuresMobile h2 {
    line-height: 30px;
  }

  .list-item {
    margin-bottom: 28px;
  }

  .list-circle {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    background: #004A80;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #F6BC25;
    flex: 0 0 90px;
    margin-right: 20px;
  }

  .list-text p {
    margin: 0;
    line-height: 26px;
  }

  @media(max-width: 767px) {
    .features {
      display: none;
    }

    .featuresMobile .headline {
      margin-bottom: 28px;
    }

    .featuresMobile h2 {
      line-height: 28px;
    }

    .list-item {
      margin-bottom: 20px;
    }

    .list-circle {
      width: 63px;
      height: 63px;
      line-height: 63px;
      flex: 0 0 63px;
      font-size: 33.6px;
    }

    .list-text p {
      line-height: 24px;
    }
  }

  @media(max-width: 767px) {
    .features {
      display: none;
    }

    .featuresMobile .headline {
      margin-bottom: 20px;
    }

    .list-item {
      margin-bottom: 16px;
    }

    .list-circle {
      width: 50.4px;
      height: 50.4px;
      line-height: 50.4px;
      flex: 0 0 50.4px;
      font-size: 26.88px;
      margin-right: 10.6px;
    }
  }
}

/* ************************************************************
***************************************************************
--- [SECTION][RESULTS PAGE] Result ---
***************************************************************
************************************************************ */

.result {
  background: #F8F8F8;
  min-height: 455px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-wrap {
  display: none;
}

.result-card {
  max-width: 980px;
  min-height: 412px;
  background: #fff;
  justify-content: right;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  border-radius: 30px;
  padding: 40px;
  margin: 40px auto;
}

.result-avatar {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  line-height: 86px;
  background: #004A80;
  text-align: center;
  flex: 0 0 90px;
  margin-right: 20px;
}

.result-content.w-100 {
  text-align: left;
}

.result-desc {
  color: #4A4A4A;
}

@media (max-width: 991px) {
  .result {
    min-height: 512px;
  }

  .result-avatar {
    width: 63px;
    height: 63px;
    line-height: 58px;
    flex: 0 0 63px;
  }

  .result-avatar img {
    width: 28px;
  }
}

@media (max-width: 767px) {
  .result {
    min-height: 306px;
  }

  .result-avatar {
    display: none;
  }
}

/* ************************************************************
***************************************************************
--- [SECTION][RESULTS PAGE] Search Again ---
***************************************************************
************************************************************ */

.search-again {
  background: #004A80;
}


.typeSearch {
  margin-left: 60px;
}

.btn-form-submit {
  display: inline;
  max-width: 992px;
  font-size: 24px;
  font-weight: bold;
  color: #004A80;
  background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  border-radius: 6px;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  width: 180px;
  height: 70px;
  margin-left: 20px;
}

.btn-form-submit:hover {
  background: #F2DA56;
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  border-radius: 6px;

}

.btn-form-submit:active {
  background: #F6BC25;
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  border-radius: 6px;
}

.input-group.error>.formEmail {
  border: 3px solid #DC0015;
  border-radius: 3px 3px 0 0 !important;
}

.input-group.error>.formPhone {
  border: 3px solid #DC0015;
  border-radius: 3px 3px 0 0 !important;
}

.input-group>.formEmail {
  width: 780px;
  height: 70px;
  margin-left: 60px;
  background: #FFF;
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
  border-radius: 3px !important;
  font-size: 22px;
}

.input-group>.formPhone {
  width: 780px;
  height: 70px;
  margin-left: 60px;
  background: #FFF;
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
  border-radius: 3px !important;
  font-size: 22px;
}

.errorEmail {
  display: none;
}

.errorPhone {
  display: none;
}

.input-group.error .errorEmail {
  display: block;
  position: absolute;
  bottom: -30px;
  margin: 0px;
  padding: 4px 12px;
  background: #DC0015;
  color: #FFF;
  border-radius: 0 0 3px 3px;
  font-size: 16px;
}

.input-group.error .errorPhone {
  display: none;
  position: absolute;
  bottom: -30px;
  margin: 0px;
  padding: 4px 12px;
  background: #DC0015;
  color: #FFF;
  border-radius: 0 0 3px 3px;
}

@media (min-width: 992px) {
  .search-again {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .search-again {
    padding: 40px 0;
  }


  .input-group {
    flex-direction: column;
  }

  .input-group>.formEmail,
  .btn-form-submit {
    width: 100%;
  }

  .input-group>.formEmail {
    height: 50px;
    margin-left: 0;
    width: 100%;
  }

  .input-group>.formPhone,
  .btn-form-submit {
    width: 100%;
  }

  .input-group>.formPhone {
    height: 50px;
    margin-left: 0;
    width: 100%;
  }

  .btn-form-submit {
    margin: 15px 0 0 0;
  }


  .formEmail::placeholder {
    width: 100%;
    color: #9B9B9B;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .formPhone::placeholder {
    color: #9B9B9B;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .typeSearch{
    margin-left: 10px;
  }



  .input-group.error .errorEmail {
    display: block;
    position: relative;
    bottom: 5px;
    width: 100%;
    padding: 4px 12px;
    background: #DC0015;
    color: #FFF;
    border-radius: 0 0 3px 3px;
    font-size: 14px;
  }

  .input-group.error .errorPhone {
    display: none;
    position: relative;
    bottom: 5px;
    width: 100%;
    padding: 4px 12px;
    background: #DC0015;
    color: #FFF;
    border-radius: 0 0 3px 3px;
    font-size: 14px;
  }

  .btn-form-submit:active {
    background: #F6BC25;
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
  }

  .input-group.error .errorEmail {
    display: block;
    position: relative;
    bottom: 5px;
    width: 100%;
    padding: 4px 12px;
    background: #DC0015;
    color: #FFF;
    border-radius: 0 0 3px 3px;
    font-size: 14px;
  }
}



/* ************************************************************
***************************************************************
--- Footer ---
***************************************************************
************************************************************ */

.footer {
  padding: 16px 0;
}

.footer p {
  font-size: 15px;
  color: #999;
  line-height: 20px;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  color: #004A80;
}

.footer a:first-of-type:after {
  content: '|';
  padding-left: 5px;
}